@import url("https://fonts.googleapis.com/css2?family=Warnes&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./gifs/background5.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 110%;
  background-position: center;
  /* background-color: #33135c; */
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#load {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: black;
}
#load > img {
  pointer-events: none;
  cursor: default;
}

#pop_up {
  padding: 0;
  margin: 0;
  position: fixed;
  display: none; /*change*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 999;
  color: rgb(255, 108, 194);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(252, 82, 133);
  text-shadow: 0 0 6px rgba(254, 1, 79, 0.98), 0 0 30px rgba(254, 1, 79, 0.42),
    0 0 12px rgba(254, 1, 79, 0.58), 0 0 16px rgba(254, 1, 79, 0.84),
    0 0 20px rgba(254, 1, 79, 0.88), 0 0 25px rgba(254, 1, 79, 0.84);
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 3rem;
  font-weight: bold;
}
#pop_up_won {
  color: #c6e2ff;
  -webkit-text-stroke-width: 0;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
    0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
    0 0 60px rgba(30, 132, 242, 1);
  font-size: 2em;
}
#pop_up_best_score {
  margin-top: 1rem;
  font-size: 0.8em;
}

#pop_up_play_again {
  margin-top: 1rem;
  color: #c6e2ff;
  -webkit-text-stroke-width: 0;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
    0 0 22px rgba(30, 132, 242, 0.84);
  cursor: pointer;
}
#pop_up_play_again:hover {
  color: #fcd549;
  -webkit-text-stroke-width: 0;
  text-shadow: 0 0 6px rgba(254, 108, 40, 0.98),
    0 0 30px rgba(254, 136, 40, 0.42), 0 0 12px rgba(254, 209, 40, 0.58),
    0 0 22px rgba(254, 209, 40, 0.84), 0 0 38px rgba(254, 209, 40, 0.88),
    0 0 60px rgba(254, 209, 40, 1);
}

#form_send_user_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form_send_user_details > label {
  margin-top: 10px;
  margin-bottom: 5px;
  -webkit-text-stroke-width: 0;
  font-size: 1rem;
}
#form_send_user_details > input {
  color: #0c2f55;
  -webkit-text-stroke-width: 0;
  text-shadow: none;
  border: 2px solid transparent;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

#form_send_user_details > input.success {
  border: 2px solid green;
}

#form_send_user_details > input.error {
  border: 2px solid red;
}
#info_submit_button {
  font-size: 1rem;
  border: none;
  background: transparent;
}
#info_submit_button.enabled {
  border: none;
  cursor: pointer;
  color: rgb(215, 231, 142);
  text-shadow: 0 0 3px rgba(206, 238, 66, 0.8), 0 0 10px rgba(206, 238, 66, 0.7),
    0 0 20px rgba(206, 238, 66, 0.6), 0 0 30px rgba(206, 238, 66, 0.5),
    0 0 80px rgba(206, 238, 66, 0.4), 0 0 100px rgba(206, 238, 66, 0.3);
}

#info_submit_button.enabled:hover {
  color: rgb(215, 231, 142);
  text-shadow: 0 0 6px rgba(254, 108, 40, 0.98),
    0 0 30px rgba(254, 136, 40, 0.42), 0 0 12px rgba(254, 209, 40, 0.58),
    0 0 22px rgba(254, 209, 40, 0.84), 0 0 38px rgba(254, 209, 40, 0.88),
    0 0 60px rgba(254, 209, 40, 1);
}

#info_submit_button.disabled {
  border: none;
  text-shadow: none;
  color: rgb(123, 126, 109);
}

h1 {
  font-size: 1rem;
  text-align: center;
  color: #9d0191;
}

#setting_icon {
  color: rgb(215, 231, 142);
  align-self: flex-start;
  margin-left: 30px;
}

#setting_icon:hover {
  text-shadow: 0 0 6px rgba(254, 108, 40, 0.98),
    0 0 30px rgba(254, 136, 40, 0.42), 0 0 12px rgba(254, 209, 40, 0.58),
    0 0 22px rgba(254, 209, 40, 0.84), 0 0 38px rgba(254, 209, 40, 0.88),
    0 0 60px rgba(254, 209, 40, 1);
}

.intro {
  position: relative; /*for settings*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  max-height: 700px;
  height: 100vh;
  width: 100vw;
  padding: 5vh 0;
}

.intro > h1 {
  font-size: 7rem;
  font-weight: bold;
  margin-top: 10vh;
  text-shadow: 0 0 3px rgba(191, 145, 243, 0.8),
    0 0 10px rgba(191, 145, 243, 0.7);
}

.intro > a {
  text-decoration: none;
  color: rgb(215, 231, 142);
  font-size: 4rem;
}
.intro > a:hover {
  text-shadow: 0 0 3px rgba(206, 238, 66, 0.8), 0 0 10px rgba(206, 238, 66, 0.7),
    0 0 20px rgba(206, 238, 66, 0.6), 0 0 30px rgba(206, 238, 66, 0.5),
    0 0 80px rgba(206, 238, 66, 0.4), 0 0 100px rgba(206, 238, 66, 0.3);
}

.top_score {
  position: absolute;
  color: white;
  z-index: 1000;
  width: 422px; /*fixed width*/
  display: flex; /*change*/
  justify-content: center;
  align-items: center;
  left: -999px;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(206, 238, 66, 0.8), 0 0 10px rgba(206, 238, 66, 0.7),
    0 0 20px rgba(206, 238, 66, 0.6);
  transition: all 0.5s;
}

.top_score.show {
  left: 10px;
}
.top_score > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top_score > ul li {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}

.top_score > ul li .list_header {
  color: yellow;
}

.bestScore {
  color: rgb(231, 233, 225);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/* game.html*/

.information {
  display: flex;
  justify-content: space-between;
  color: rgb(215, 231, 142);
  text-shadow: 0 0 3px rgba(206, 238, 66, 0.8), 0 0 10px rgba(206, 238, 66, 0.7),
    0 0 20px rgba(206, 238, 66, 0.6), 0 0 30px rgba(206, 238, 66, 0.5),
    0 0 80px rgba(206, 238, 66, 0.4), 0 0 100px rgba(206, 238, 66, 0.3);
  width: 90%;
  font-size: 3rem;
  padding-top: 1rem;
}

.information > #setting_icon {
  color: rgb(215, 231, 142);
}

.information > #setting_icon:hover {
  text-shadow: 0 0 6px rgba(254, 108, 40, 0.98),
    0 0 30px rgba(254, 136, 40, 0.42), 0 0 12px rgba(254, 209, 40, 0.58),
    0 0 22px rgba(254, 209, 40, 0.84), 0 0 38px rgba(254, 209, 40, 0.88),
    0 0 60px rgba(254, 209, 40, 1);
}

.best_score {
  flex-basis: 1;
}

.current_score {
  flex-basis: 1;
}
.restart_button {
  flex-basis: 1;
  text-shadow: none;
  color: rgb(123, 126, 109);
}

.restart_button.active {
  flex-basis: 1;
  cursor: pointer;
  color: rgb(215, 231, 142);
  text-shadow: 0 0 3px rgba(206, 238, 66, 0.8), 0 0 10px rgba(206, 238, 66, 0.7),
    0 0 20px rgba(206, 238, 66, 0.6), 0 0 30px rgba(206, 238, 66, 0.5),
    0 0 80px rgba(206, 238, 66, 0.4), 0 0 100px rgba(206, 238, 66, 0.3);
}
.restart_button.active:hover {
  text-shadow: 0 0 6px rgba(254, 108, 40, 0.98),
    0 0 30px rgba(254, 136, 40, 0.42), 0 0 12px rgba(254, 209, 40, 0.58),
    0 0 22px rgba(254, 209, 40, 0.84), 0 0 38px rgba(254, 209, 40, 0.88),
    0 0 60px rgba(254, 209, 40, 1);
}
#game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
  width: 90%;
  padding: 1rem 0 5vh 0;
}

#game > div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 100px;
  width: 16%;
  height: 23%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  cursor: pointer;
  border-radius: 5px;
  margin: 3px;
  padding: none;
}

#game > div:hover {
  box-shadow: 0 0 3px rgb(255, 255, 255), 0 0 10px rgba(222, 240, 144, 0.7),
    0 0 20px rgba(222, 240, 144, 0.6), 0 0 30px rgba(222, 240, 144, 0.5),
    0 0 80px rgba(222, 240, 144, 0.4), 0 0 100px rgba(222, 240, 144, 0.3);
}

#game > .score_div {
  border: none;
}
#game > .score_div:hover {
  box-shadow: none;
}

#game > .score_div #score_span {
  color: rgb(231, 233, 225);
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}
#game > .score_div #score_span:hover {
  text-shadow: 0 0 3px rgba(212, 184, 243, 0.8),
    0 0 10px rgba(212, 184, 243, 0.7), 0 0 20px rgba(212, 184, 243, 0.6),
    0 0 30px rgba(212, 184, 243, 0.5), 0 0 80px rgba(212, 184, 243, 0.4),
    0 0 100px rgba(212, 184, 243, 0.3);
}
#game > .score_div #score_span.reset {
  font-size: 3rem;
  text-shadow: 0 0 3px rgba(235, 231, 46, 0.8), 0 0 10px rgba(235, 231, 46, 0.5),
    0 0 20px rgba(235, 231, 46, 0.4), 0 0 30px rgba(235, 231, 46, 0.3);
}
#game > .score_div #score_span.reset:hover {
  text-shadow: 0 0 3px rgba(235, 231, 46, 0.8), 0 0 10px rgba(235, 231, 46, 0.7),
    0 0 20px rgba(235, 231, 46, 0.6), 0 0 30px rgba(235, 231, 46, 0.5),
    0 0 80px rgba(235, 231, 46, 0.4), 0 0 100px rgba(235, 231, 46, 0.3);
}

.front {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("./gifs/emoji.png");
  background-repeat: no-repeat;
  background-size: 30% 30%;
  background-position: center;
  backface-visibility: hidden;
  background-color: #f6f6f6;
  border-radius: 5px;
  z-index: 1;
}

.back {
  position: absolute;
  height: 100%;
  width: 100%;

  backface-visibility: hidden;
  transform: rotateY(180deg);
  cursor: pointer;
  border-radius: 5px;
}

.back img {
  height: 100%;
  width: 100%;
  pointer-events: none;
  cursor: default;
  border-radius: 5px;
}

.turn {
  transform: rotateY(180deg) !important;
}

@media screen and (max-width: 1125px) {
  #game {
    padding: 0 0vw;
    width: 70%;
  }

  #game > div {
    width: 17%;
    height: 17%;
    min-width: 100px;
    min-height: 100px;
  }
}

@media screen and (max-width: 800px) {
  #game {
    padding: 0 0vw;
    width: 100%;
  }

  #game > div {
    width: 16%;
    height: 16%;
    min-width: 100px;
    min-height: 70px;
  }
}
@media screen and (max-width: 565px) {
  .intro > h1 {
    font-size: 5rem;
  }

  #game {
    padding: 0 0vw;
    width: 80%;
  }

  #game > div {
    width: 14%;
    height: 12%;
    min-width: 100px;
    min-height: 70px;
  }
  #game > .score_div {
    order: -1;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 429px) {
  #game {
    padding: 5px 0vw;
    width: 100%;
    height: 100%;
    min-width: 360px;
  }

  #game > div {
    width: 14%;
    height: 12%;
    min-width: 100px;
    min-height: 70px;
    padding: 0 5px;
  }

  .information {
    font-size: 1rem;
    padding-top: 2px;
  }

  #pop_up {
    font-size: 1.8rem;
  }

  #load > img {
    width: 100%;
  }
  .top_score {
    width: 95vw; /*fixed width*/
  }
  .top_score > ul li {
    padding: 5px 5px;
  }
}
